<p>
  <b>Page:</b>
  <%=h @content.page_id %>
</p>

<p>
  <b>Language:</b>
  <%=h @content.language %>
</p>

<p>
  <b>Title:</b>
  <%=h @content.title %>
</p>

<p>
  <b>Body:</b>
  <%=h @content.body %>
</p>

<p>
  <b>Published:</b>
  <%=h @content.published %>
</p>


<%= link_to 'Edit', edit_content_path(@content) %> |
<%= link_to 'Back', contents_path %>
