<div id='page-info'>
<h2><%=h @content.page.name %></h2>

<p>
<% if @content.page.published? %>
  Published
<% else %>
  Draft
<% end %>
</p>

<%= link_to 'Edit', edit_page_path(@content.page) %>
</div>

<div id="content-<%= @content.language %>">
<%=h @content.language %>: <%= @content.body %>
<p>
<%= link_to 'Edit', edit_content_path(@content) %>
</p>
</div>

<%= javascript_tag("
Ext.onReady(function() {
  var page = new Ext.Panel({
    region: 'north',
    split: true,
    contentEl: 'page-info'
  });

  var contents = new Ext.TabPanel({
    region: 'center',
    contentEl: 'content-#{@content.language}',
  });

  content = new Ext.Panel({
    layout: 'border',
    region: 'center',
    items: [page, contents]
  });
});") %>
