<div id='page-info'>
<h2><%=h @content.page.name %></h2>

<p>
<% if @content.page.published? %>
  Published
<% else %>
  Draft
<% end %>
</p>

<%= link_to 'Edit', edit_page_path(@content.page) %>
</div>

<div id="content-<%= @content.language %>">
<p><%=h @content.title %>: <%= link_to 'Edit', edit_content_path(@content) %></p>
<%= @content.body %>
</div>

<%= javascript_tag("
Ext.onReady(function() {
  var page = new Ext.Panel({
    region: 'north',
    title: 'ページ情報',
    split: true,
    contentEl: 'page-info'
  });

  var contents = new Ext.Panel({
    region: 'center',
    title: #{@content.language.to_json},
    contentEl: 'content-#{@content.language}',
  });

  content = new Ext.Panel({
    layout: 'border',
    region: 'center',
    items: [page, contents]
  });
});") %>
