<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xml:lang="<%= @content.language %>" lang="<%= @content.language %>">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title><%=h @content.title %></title>
  <%= stylesheet_link_tag('static') %>
</head>
<body>

<div id="header">
  <h1><%= link_to(h(Site.default.title || "Site Title"), root_path) %></h1>

  <ul class="language-links">
<% @content.page.sorted_contents.each do |content| -%>
    <li class="language-icon">
      <%= link_to_unless_current(icon_tag(content.language),
                                 content_path(content)) %>
    </li>
<% end -%>
  </ui>
</div>

<div id="main">
<h2><%=h @content.title %></h2>
<%= normalize_content_body(@content.body) %>
</div>

</body>
</html>
