<div id='content'>
<h2>Editing page</h2>

<% form_for(@page) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name %>:
    <%= f.text_field :name %>

    <%= f.label :published %>:
    <%= f.check_box :published %>
  </p>
  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>
</div>
