<div id='page-form'>
<% form_for(@page) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name %>:
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :published %>:
    <%= f.check_box :published %>
  </p>
  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>
</div>

<%= javascript_tag(<<-EOC
Ext.onReady(function() {
  content = new Ext.Panel({
    region: 'center',
    title: #{(h(@page.name) + ": " + t('Edit')).to_json},
    tbar: [
      {
        text: #{t('Show').to_json},
        handler: function() {document.location = #{page_path(@page).to_json}}
      }
    ],
    contentEl: 'page-form'
  });
})
EOC
) %>
