<div id='page-administration' class='main-content'>
<table>
  <tr>
    <th><%= t("Name") %></th>
    <th colspan="3"><%= t("Actions") %></th>
  </tr>

<% @pages.each do |page| %>
  <tr>
    <td><%=h page.name %></td>
    <td><%= link_to(t('Show'), page) %></td>
    <td><%= link_to(t('Edit'), edit_page_path(page)) %></td>
    <td><%= link_to(t('Destroy'), page,
                    :confirm => t('Are you sure?'),
                    :method => :delete) %></td>
  </tr>
<% end %>
</table>

<p>
<%= link_to(t('New Page'), new_page_path) %>
</p>
</div>

<%= javascript_tag(<<-EOC
Ext.onReady(function() {
  content = new Ext.Panel({
    title: #{t("Page Administration").to_json},
    region: 'center',
    contentEl: 'page-administration'
  });
});
EOC
) %>
