<div id='new-page' class='main-content'>
<% form_for(@page) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label(:name, t("Name")) %>:
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label(:published, t("Published")) %>:
    <%= f.check_box :published %>
  </p>
  <p>
    <%= f.submit(t("Create")) %>
  </p>
<% end %>
</div>

<%= javascript_tag(<<-EOC
Ext.onReady(function() {
  content = new Ext.Panel({
    title: #{t("New Page").to_json},
    region: 'center',
    contentEl: 'new-page',
    tbar: [
      {
        text: #{t("Pages").to_json},
        handler: function () {
          document.location = #{pages_path.to_json};
        }
      }
    ]
  });
});
EOC
) %>

