<%= render(:partial => "info", :locals => {:page => @page}) %>

<%= javascript_tag("
Ext.onReady(function() {
  var contents = new Ext.TabPanel({
    defaults: {
      autoScroll: true,
      listeners: {
        activate: function(tab) {
          Ext.get(tab.contentEl).show();
        }
      }
    },
    region: 'center',
    enableTabScroll: true,
    resizeTabs: true,
    minTabWidth: 40,
    tabWidth: 40,
    activeTab: 0,
    items: #{content_tabs_data(@page).to_json}
  });

  content = new Ext.Panel({
    layout: 'border',
    region: 'center',
    items: [page_info, contents]
  });
});") %>

<% @page.contents.each do |content| -%>
<div id="content-<%= content.language %>" style="display: none">
<%=h content.language %>: <%= content.body %>
<p>
<%= link_to 'Edit', edit_content_path(content) %>
</p>
</div>
<% end -%>
