<div id="experienced-usage" class="main-content">
    <p>
    上級者向けにこのサイトの使い方を説明します。もし、まだ読んでいないのであれば、まずは<%= link_to(document_page_title("usage"), general_usage_document_path) %>を読んでください。
  </p>
  <div class="index">
    <h2>目次</h2>
    <ul>
      <li><a href="#ftp">FTP</a></li>
      <li><a href="#page-name">ページ名</a></li>
    </ul>
  </div>

  <h2 id="ftp">FTP</h2>
  <p>
    作成したコンテンツをFTPでアップロードする方法については<%= link_to(document_page_title("ftp"), ftp_upload_document_path) %>を読んでください。
  </p>

  <h2 id="page-name">ページ名</h2>
  <p>
    ページ名について説明します。新しくページを作成しない場合はこの部分は飛ばして構いません。簡単にいうと、「ページ名はアルファベットと数字だけを使って下さい」ということです。
  </p>
  <p>
    まず、ページ名とURLの関係を示した以下の図を見てください。
    コンテンツのURLでは、ページ名が共有されていることに注意してください。
  </p>
  <p>
    <%= image_tag("documents/site-components-url.png",
                  :title => "「サイト」・「ページ」・「コンテンツ」のURLの関係") %>
  </p>
  <p>
    各ページは他のページと区別をするために名前を持っています。
    ページの名前はコンテンツが予想できる名前にします。
    例えば、「このサイトについて」書かれたページは「about」という名前がよいでしょう。「手続き」について書かれたページは「procedure」がよいでしょう。
  </p>
  <p>
    ページ名をつけるときに注意すること以下の2つです。
  </p>
  <ul>
    <li>トップページ（最初に表示されるページ）は「index」というページ名にすること</li>
    <li>ページ名には日本語を使わずにアルファベット・数字などのみを使うこと</li>
  </ul>
  <p>
    トップページに「index」という名前をつけることは、一般的に使われている習慣です。
  </p>
  <p>
    ページ名に日本語を使わないのは、すべての言語のコンテンツで「ページ名」が共有されるからです。
    例えば、「このサイトについて」書かれた「about」という名前のページでは、日本語のコンテンツは「http://.../site/about-ja.html」というURLになり、中国語では「.../about-zh.html」となります。
    もし、ページ名が「about」ではなく「紹介」だった場合は、「.../紹介-ja.html」や「.../紹介-zh.html」となります。中国語ページは日本語が表示・使用できない環境で見られることも多いでしょう。そのような環境でも問題なく扱えるように、URLには日本語などは含めずに、アルファベットや数字などだけを使って下さい。
  </p>

  <p>
    <%= image_tag("documents/site-components.png",
                  :title => "「サイト」・「ページ」・「コンテンツ」の関係") %>
  </p>
</div>

<%= render(:partial => "panel",
           :locals => {
             :content_element_id => "experienced-usage",
             :tbar => "
               [
                 {
                   text: #{document_page_title('usage').to_json},
                   handler: function () {
                     document.location = #{general_usage_document_path.to_json};
                   }
                 },
                 {
                   text: #{document_page_title('image').to_json},
                   handler: function () {
                     document.location = #{image_upload_document_path.to_json};
                   }
                 },
                 {
                   text: #{document_page_title('ruby').to_json},
                   handler: function () {
                     document.location = #{ruby_document_path.to_json};
                   }
                 },
                 {
                   text: #{document_page_title('ftp').to_json},
                   handler: function () {
                     document.location = #{ftp_upload_document_path.to_json};
                   }
                 }
               ]",
           }) %>
