<div id="usage" class="main-content">
  <p>
    このサイトの使い方を説明します。
  </p>
  <div class="index">
    <h2>目次</h2>
    <ul>
      <li><a href="#base-components">基本画面</a></li>
      <li><a href="#base-ui">基本的な使い方</a></li>
      <li><a href="#create-contents">コンテンツ作成方法</a></li>
      <ul>
        <li><a href="#create-page">ページの作成方法</a></li>
        <li><a href="#edit-content">コンテンツの編集方法</a></li>
        <li><a href="#image">画像</a></li>
        <li><a href="#ruby">ふりがな</a></li>
      </ul>
      <li><a href="#next-step">次のステップ</a></li>
    </ul>
  </div>

  <h2 id="base-components">基本画面</h2>
  <p>
    画面は大きくわけて3つのエリアに分かれています。
  </p>
  <p>
    <%= image_tag("documents/base-components.png", :title => "ベース画面") %>
  </p>
  <ol>
    <li>
      <p>ヘッダ部分。左側にはトップページへのリンク、右側にはこのマニュアルへのリンクがある。</p>
    </li>
    <li>
      <p>ページ一覧部分。ページの一覧が表示される。ページを選択すると「メインコンテンツ部分」で編集・プレビューをすることができる。</p>
    </li>
    <li>
      <p>メインコンテンツ部分。作業を行う部分で、ページを編集したり、プレビューしたりするのはこの部分。</p>
    </li>
  </ol>

  <h2 id="base-ui">基本的な使い方</h2>
  <p>
    効率よく作業をするために、サイト全体で統一した使い方ができます。
  </p>
  <p>
    <%= image_tag("documents/base-ui.png", :title => "ベースUI") %>
  </p>
  <ol>
    <li>
      <p>
        ページ一覧表示・非表示切り替え。
        この矢印をクリックすることにより、「ページ一覧部分」を表示したり、隠したりすることができます。
        「メインコンテンツ部分」でページを編集しているときなど、画面を広く使いたい場合は「ページ一覧部分」を隠すと便利です。
      </p>
    </li>
    <li>
      <p>
        ページ一覧部分サイズ調整。
        マウスを使って「ページ一覧部分」の幅を変更することができます。「ページ一覧部分」を表示したまま画面を広く使いたい場合に便利です。
      </p>
    </li>
    <li>
      <p>
       タイトル。「メインコンテンツ部分」は作業によって表示される内容が変わりますが、この「タイトル」は常にここに表示されています。「タイトル」を確認することで現在行っている作業を確認することができます。
      </p>
    </li>
    <li>
      <p>
        ツールバー。
        現在の作業に関連する他の操作を行うためのリンクを表示します。
        他の操作を行いたい場合は、まず、ここに望んだ操作がないか確認してください。
      </p>
    </li>
  </ol>

  <h2 id="create-contents">コンテンツ作成</h2>
  <p>
    基本的な画面・操作方法についての説明が終わったので、コンテンツの作成方法について説明します。そのために、まずは「サイト」・「ページ」・「コンテンツ」の関係について説明します。
  </p>
  <p>
    「サイト」・「ページ」・「コンテンツ」の関係を図で示します。
    まず、サイトの中に複数のページがあり、それぞれのページには各言語用のコンテンツがあるという関係を理解してください。
  </p>
  <p>
    <%= image_tag("documents/site-components-summary.png",
                  :title => "「サイト」・「ページ」・「コンテンツ」の関係の概観") %>
  </p>

  <p>
    コンテンツは以下の順序で作成します。それぞれ順番に説明します。
  </p>
  <ol>
    <li>ページ作成</li>
    <li>コンテンツ編集</li>
    <li>コンテンツ編集</li>
    <li>...</li>
  </ol>

  <h3 id="create-page">ページ作成</h3>
  <p>
    コンテンツはページに含まれるので、まずは、ページを作成する必要があります。
  </p>
  <p>
    コンテンツはトップページから作成することができます。
    「名前」にページの内容が想像できそうな語句を指定して「作成」ボタンをクリックしてください。
    使える文字はアルファベットと数字と「-」や「_」などいくつかの記号だけです。日本語は指定できません。指定できない理由については<%= link_to(t("Experienced usage"), experienced_usage_document_path) %>を見てください。
  </p>
  <p>
    <%= image_tag("documents/new-page-form.png",
                  :title => "ページ作成フォーム") %>
  </p>
  <p>
    ページを作成すると、作成したページが「メインコンテンツ部分」に表示されます。
    また、「ページ一覧部分」にも追加され、いつでも表示することができるようになります。
  </p>
  <p>
    <%= image_tag("documents/new-page-created.png",
                  :title => "ページ作成直後") %>
  </p>
  <ol>
    <li>作成したページが「ページ一覧部分」に追加されている</li>
    <li>「メインコンテンツ部分」に表示された作成したページのページ名</li>
    <li>「メインコンテンツ部分」に表示された作成したページの各言語毎のコンテンツのプレビュー</li>
  </ol>

  <h3 id="edit-content">コンテンツ編集</h2>
  <p>
    ページが作成されるとそれぞれの言語用のコンテンツが自動で作成されます。
  </p>
  <p>
    コンテンツを編集するには、まず、編集したい言語のコンテンツを選択します。
    それぞれの言語は「タブ」で選択できるようになっています。
  </p>
  <p>
    言語を選択したら、「ツールバー」にある「編集」メニューで編集画面に移動できます。
  </p>
  <p>
    <%= image_tag("documents/move-to-content-edit-page.png",
                  :title => "ページ作成直後") %>
  </p>
  <ol>
    <li>日本語の「タブ」をクリックし、日本語コンテンツを表示</li>
    <li>「ツールバー」の「編集」メニューをクリックし編集画面へ移動</li>
  </ol>

  <p>
    ブラウザの画面が狭いとコンテンツ編集画面が窮屈です。
    ページ一覧を非表示にすることで画面を広く使うことができます。
  </p>
  <p>
    <%= image_tag("documents/hide-page-list-in-edit-content-page.png",
                  :title => "ページ一覧非表示ボタン") %>
  </p>
  <ol>
    <li>ページ一覧表示・非表示切り替えボタン</li>
  </ol>

  <p>
    以下の図はページ一覧を非表示にしたところです。
  </p>
  <p>
    <%= image_tag("documents/edit-content-page-without-page-list.png",
                  :title => "ページ一覧非表示のコンテンツ編集画面") %>
  </p>

  <p>
    コンテンツ編集画面では、編集中の言語でのページタイトルと、コンテンツを編集することができます。
    コンテンツの編集はワープロソフトと同じような操作になります。編集が終わったら保存ボタンでコンテンツを保存します。
  </p>
  <p>
    <%= image_tag("documents/edit-content.png",
                  :title => "コンテンツ編集") %>
  </p>
  <ol>
    <li>編集中の言語でのページタイトル</li>
    <li>コンテンツ編集部分</li>
    <li>保存ボタン</li>
  </ol>

  <p>
    ページ一覧部分を非表示にしてもまだ画面が狭い場合はブラウザを大きくすることをおすすめします。
    あるいは、コンテンツ編集部分を最大化することもできます。
  </p>
  <p>
    <%= image_tag("documents/content-editor-turn-on-fullscreen.png",
                  :title => "コンテンツ編集画面最大化ボタン") %>
  </p>
  <ol>
    <li>コンテンツ編集画面最大化ボタン</li>
  </ol>

  <p>
    コンテンツ編集部分の最大化を解除するには、もう一度最大化ボタンをクリックするか、コンテンツを保存してください。
  </p>
  <p>
    <%= image_tag("documents/content-editor-turn-off-fullscreen.png",
                  :title => "コンテンツ編集部分最大化解除") %>
  </p>
  <ol>
    <li>コンテンツ編集画面最大化ボタン</li>
    <li>保存ボタン</li>
  </ol>

  <h2 id="image">画像</h2>
  <p>
    画像をアップロード・挿入する方法は<%= link_to(document_page_title("image"), image_upload_document_path) %>を見てください。
  </p>

  <h2 id="ruby">ふりがな</h2>
  <p>
    「やさしいにほんご」編集ページではふりがなをふることができます。
     ふりがなをふる方法は<%= link_to(document_page_title("ruby"), ruby_document_path) %>を見てください。
  </p>

  <h2 id="next-step">次のステップ</h2>
  <p>
    コンテンツを編集する機能だけを使う人はここまでの内容で十分利用することができます。まずは<%= link_to(t("top page", :default => "トップページ"), root_path) %>に移動しましょう。
  </p>
  <p>
    ページを作成したり、作成したコンテンツをFTPでアップロードする人は<%= link_to(document_page_title("experienced"), experienced_usage_document_path) %>に進んでください。
  </p>
</div>

<%= render(:partial => "panel",
           :locals => {:content_element_id => "usage"}) %>
