<div id="site-form" class="main-content">
<% form_for(@site) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label(:title, t("Title")) %>
    <span class="example"><%= t("(example: My Site)") %></span>
    <br />
    <%= f.text_field :title %>
  </p>
  <p>
    <%= f.label(:ftp_host, t("FTP host")) %>
    <span class="example"><%= t("(example: ftp.example.com)") %></span>
    <br />
    <%= f.text_field :ftp_host %>
  </p>
  <p>
    <%= f.label(:ftp_path, t("FTP path")) %>
    <span class="example"><%= t("(example: /my-site)") %></span>
    <br />
    <%= f.text_field :ftp_path %>
  </p>
  <p>
    <%= f.submit(t("Update")) %>
  </p>
<% end %>
</div>

<%= javascript_tag(<<-EOC
Ext.onReady(function() {
  content = new Ext.Panel({
    title: #{(t("Site") + ": " + t("Edit")).to_json},
    region: 'center',
    contentEl: 'site-form',
    tbar: [
      {
         text: #{t("Usage").to_json},
         handler: function () {
           document.location = #{ftp_upload_document_path.to_json};
         }
      },
      "-",
      {
         text: #{t("Show").to_json},
         handler: function () {
           document.location = #{site_path(@site).to_json};
         }
      }
    ]
  });
});
EOC
) %>
