<div id="site-info" class="main-content">
  <dl>
    <dt><%= t("Title") %></dt>
    <dd><%=h @site.title %></dd>

    <dt><%= t("FTP host") %></dt>
    <dd><%=h @site.ftp_host %></dd>

    <dt><%= t("FTP path") %></dt>
    <dd><%=h @site.ftp_path %></dd>
  </dl>

  <h3><%= t("Upload") %></h3>
  <% @ftp.password = nil -%>
  <% form_for(@ftp,
              :url => upload_site_path(@site),
              :html => {:method => "post"}) do |f| %>
    <p>
      <%= f.label(:user, t("FTP user")) %>
      <%= f.text_field(:user) %>
    </p>
    <p>
      <%= f.label(:password, t("FTP password")) %>
      <%= f.password_field(:password) %>
    </p>

    <p>
      <%= f.submit(t("Upload")) %>
    </p>
  <% end %>
</div>

<%= javascript_tag(<<-EOC
Ext.onReady(function() {
  content = new Ext.Panel({
    title: #{t("Site Information").to_json},
    region: 'center',
    contentEl: 'site-info',
    tbar: [
      {
         text: #{t("Edit").to_json},
         handler: function () {
           document.location = #{edit_site_path(@site).to_json};
         }
      }
    ]
  });
});
EOC
) %>
