<div id="site-info" class="main-content">
  <dl>
    <dt><%= t("Title") %></dt>
    <dd><%=h @site.title %></dd>

    <dt><%= t("FTP host") %></dt>
    <dd><%=h @site.ftp_host %></dd>

    <dt><%= t("FTP path") %></dt>
    <dd><%=h @site.ftp_path %></dd>
  </dl>
</div>

<%= javascript_tag(<<-EOC
Ext.onReady(function() {
  content = new Ext.Panel({
    title: #{t("Site Information").to_json},
    region: 'center',
    contentEl: 'site-info',
    tbar: [
      {
         text: #{t("Edit").to_json},
         handler: function () {
           document.location = #{edit_site_path(@site).to_json};
         }
      }
    ]
  });
});
EOC
) %>
