<p>
  <b>Name:</b>
  <%=h @site.name %>
</p>

<p>
  <b>Ftp host:</b>
  <%=h @site.ftp_host %>
</p>

<p>
  <b>Ftp path:</b>
  <%=h @site.ftp_path %>
</p>


<%= link_to 'Edit', edit_site_path(@site) %> |
<%= link_to 'Back', sites_path %>
