<h1>Editing image</h1>

<% form_for(@image) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :filename %><br />
    <%= f.text_field :filename %>
  </p>
  <p>
    <%= f.label :width %><br />
    <%= f.text_field :width %>
  </p>
  <p>
    <%= f.label :height %><br />
    <%= f.text_field :height %>
  </p>
  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', @image %> |
<%= link_to 'Back', images_path %>
