<h1><%= t("Image list") %></h1>

<% form_for(@image, :html => {:multipart => true}) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label("image_file", t("Image file")) %>:
    <%= f.file_field :image_file %>
  </p>
  <p>
    <%= f.submit(t("Upload")) %>
  </p>
<% end %>

<div class="image-list">
  <ul>
<% @images.each do |image| -%>
    <li>
      <div class="image-thumbnail">
        <%= link_to_function(image_tag(thumbnail_image_path(image, :format => :png)),
                             "select_image(#{image_path(image, :format => :png).to_json})") %>
      </div>
      <p>
	<%= link_to(t("Destroy"), image,
                    :confirm => t("Are you sure?"), :method => :delete) %>
      </p>
    </li>
<% end -%>
  </ul>
  <hr class="clear" />
</div>
