<h1><%=h @image.filename %></h1>

<p>
  <%= link_to_function(image_tag(formatted_image_path(@image, :png)),
                       "select_image(#{formatted_image_path(@image, :png).to_json})") %>
</p>

<p>(<%= @image.width %>x<%= @image.height %>)</p>

<%= link_to(t('Index'), images_path) %>
