<p>
  <b>Image:</b>
  <%= image_tag(image_path(@image, :format => :png)) %>
</p>

<p>
  <b>Filename:</b>
  <%=h @image.filename %>
</p>

<p>
  <b>Width:</b>
  <%=h @image.width %>
</p>

<p>
  <b>Height:</b>
  <%=h @image.height %>
</p>


<%= link_to 'Edit', edit_image_path(@image) %> |
<%= link_to 'Back', images_path %>
